@import './variables.scss';

.mainWrapper {
  display: flex;
  flex-direction: column;

  .container {
    padding-top: 90px;

    // background-image: linear-gradient(rgba(255, 156, 75, 0.151), rgba(0, 0, 0, 0.5)),
    //   url('../../public/Google_Ads_logo-min.png');

    // /* Set a specific height */
    // height: 10%;

    // /* Position and center the image to scale nicely on all screens */
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
  }
}
