@import './variables.scss';

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Для того чтобы .mainWrapper занимал минимум 100% высоты окна */


  .bg {
    position: fixed;
    top: 0;
    /* left: 9%; */
    right: -60%;
    width: 110%;
    height: 110%;
    z-index: -1;
    // background-image: url('../../public/bgImg.png');
    background-image: url('../../public/bgImg.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    opacity: 0.4;

    @media screen and (max-width: 700px) {
      top: 15%;
      /* left: 9%; */
      right: -65%;
      width: 150%;
    }
  }

  .container {
    margin-top: 70px;
    padding: 20px;
    flex-grow: 1;
    // background-color: rgba(4, 4, 4, 0.351)
    display: flex;
    justify-content: center;
    align-items: center;

    // /* Set a specific height */
    // height: 10%;x

    // /* Position and center the image to scale nicely on all screens */
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
  }

  .footer {
    margin-top: auto; /* Прижимаем футер к низу */


  }
}
