// index.module.scss
.textContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // @media screen and (min-width: 800px) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

.text {
  margin: 0;
  font-size: 3rem;
  color: rgba(225, 225, 225, .01);
  background-image: url("../../../public/bgText.jpeg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 9s ease-in-out infinite;
  // text-align: center;
  animation-direction: reverse; /* Настройка направления анимации */

  text-transform: uppercase;
  font-weight: 900;
  @media screen and (min-width: 800px) {
    font-size: 5rem;
  }
}

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
