@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import '../../styles/variables.scss';

.mainWrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5px);

  .mobileMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    position: relative;
    z-index: 7;
    display: flex;
    .userName {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    position: relative;
    z-index: 7;

    li {
      flex-grow: 1;
      float: left;
      width: 24%;
      height: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      transition: background-color 0.3s ease; 

      &:not(:last-child) {
        border-right: 1px solid #40404037;
      }

      &:hover {
        background-color: #32323231;
      }
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: $text;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      font-size: 18px;
      z-index: 9;
      &.active {
        background-color: #404040;
        pointer-events: none;
        color: rgb(221, 221, 221);
      }
    }
  }
}
