@import '../../styles/variables.scss';

.burger {
  position: fixed;
  // top: -700px;
  // left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: $bg;
  z-index: 9999;
  display: none;
  list-style: none;
  overflow: hidden;
}

.show {
  top: 70px;
  display: flex;
  flex-direction: column;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045)
    forwards;
  animation: slide-bottom 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

.item {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.224);
  }

  & li {
    text-transform: uppercase;
    text-decoration: none;
    color: $whiteText;
    // font-size: 1.4rem;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}
