@import '../../styles/variables.scss';
// index.module.scss
.footer {
  background: rgba(0, 0, 0, 0.07);
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5px);

  .row {
    width: 100%;
    // margin: 1% 0%;
    padding: 0.6% 0%;
    color: $text;
    font-size: 0.8em;

    a {
      text-decoration: none;
      color: $text;
      transition: 0.5s;

      &:hover {
        color: #fff;
      }
    }

    ul {
      width: 100%;

      li {
        display: inline-block;
        margin: 0px 30px;
      }
    }

    a i {
      font-size: 2em;
      margin: 0% 1%;
    }
  }

  @media (max-width: 720px) {
    text-align: left;
    padding: 5%;

    .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }

    .row a i {
      margin: 0% 3%;
    }
  }
}
